<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
</head>
<body>



    <form class="box" action="addDebt" method="post">

        <h1>New Debter</h1>
        <label>Name</label><input type="text" name="custName" />
        <label>Nickname</label><input type="text" name="custNickname" />
        <label>Debt amount</label><input type="text" name="custDebt" />
        <label>Phone number</label><input type="text" name="custPhone"/>
        <input type="submit" name="addBtn" value="ADD"/>

    </form>



</body>
</html>