<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div>
    <form action="AddDebt">

        <div><label>Full Name: </label><input type="text" name="custName" placeholder="Name"/></div>
        <div><label>Nickname: </label><input type="text" name="custNickname" placeholder="Nickname"/></div>
        <div><label>Debt: </label><input type="text" name="custDebt" placeholder="Debt amount"/></div>
        <div><label>Phone: </label><input type="text" name="custPhone" placeholder="Phone number"/></div>
        <div><input type="submit" value="ADD"/></div>

    </form>
</div>

</body>
</html>