<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
</head>
<body>



    <form class="box" action="login" method="post">

        <h1>registration</h1>
        <label>Login</label><input type="text" name="login" />
        <label>Password</label><input type="password" name="password" />
        <label>Confirm password</label><input type="password" name="password" />
        <label name="error"></label>
        <input type="submit" name="signBtn" value="Sign up"/>

    </form>



</body>
</html>